name: Build Docker image and push to Hub

on:
  push:
    tags: 'v*'

jobs:
  code-check:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: caian/vrelease-janitor

    steps:
      - name: Checkout to janitor
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: caian
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        run: |
          export GIT_TAG="$(git tag | tail -n 1)"
          export IMAGE_LATEST="$IMAGE_NAME:latest"
          export IMAGE_TAGGED="$IMAGE_NAME:$GIT_TAG"

          docker build -t "$IMAGE_LATEST" .
          docker push "$IMAGE_LATEST"

          docker tag "$IMAGE_LATEST" "$IMAGE_TAGGED"
          docker push "$IMAGE_TAGGED"
